<form (submit)="addArticle(createForm)" #createForm="ngForm" novalidate>
    <div class="form-group">
        <label for="title">Titre</label>
        <input class="form-control form-control-lg" #titleInput="ngModel" name="title" id="title" [(ngModel)]="article.title" minlength="4"
            maxlength="25" required>

        <span [hidden]="!titleInput.errors?.required">Invalid title</span>
        <span [hidden]="!titleInput.errors?.minlength">Title must contain at least 4 characters</span>

    </div>
    <div class="form-group">
        <label for="content">Content</label>
        <textarea [(ngModel)]="article.content" class="form-control form-control-lg" name="content" id="content" rows="5x"> {{ article.content }} </textarea>
    </div>
    <button [disabled]="createForm.invalid" type="submit" class="btn btn-primary">Add this new article</button>
</form>