<div class="card" style="width: 400px;">
    <img class="card-img-top" src="https://lorempixel.com/400/180/animals/" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{ article.title }}</h5>
        <p class="card-text">{{ article.content | truncatepipe }}</p>
        <div *ngIf="article.comments.length">
            <div *ngFor="let comment of article.comments">
                <span class="comment-username">{{ comment.username }}:</span>
                <p class="comment-content">{{ comment.content }}</p>
            </div>
        </div>
        <a class="btn btn-info" [routerLink]="['/articles', article.id]">
            Read more
        </a>
    </div>
</div>