<a [routerLink]="['/articles', article.id]" class="text-body card-article">
    <div class="card" style="width: 286px;">
        <img class="card-img-top" src="https://dummyimage.com/286x180/3d3d3d/cccccc.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{ article.title }}</h5>
            <span *ngFor="let category of article.categories" class="badge badge-pill badge-secondary mr©-1">{{ category.label }}</span>
            <p class="card-text">{{ article.content | truncatepipe }}</p>

        </div>
    </div>
</a>