<div class="container d-flex flex-wrap justify-content-around ">

    <div class="row w-100 d-flex justify-content-center">
        <h2>{{ article.title }}</h2>
    </div>


    <div class="row w-100 d-flex justify-content-end">
        <a class="btn btn-primary" [routerLink]="['/articles/update', article.id]">Modifier</a>
    </div>

    <div class="row w-100">
        <p class="card-text">{{ article.content }}</p>
    </div>


    <div class="row w-100">
        <div *ngFor="let comment of article.comments" class="card w-100 mt-3 mb-3">
            <div class="card-header">
                <strong>{{ comment.username }}</strong>
            </div>
            <div class="card-body">
                {{ comment.content }}
            </div>
        </div>
    </div>

    <div class="card w-100">
        <div class="card-header">
            <strong>Ajouter un commentaire</strong>
        </div>
        <div class="card-body">
            <form (submit)="addComment(formAddComment)" #formAddComment="ngForm" novalidate class="form" id="addComment">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input [(ngModel)]="comment.username"
                            #usernameInput="ngModel"
                            name="username"
                            id="username"
                            minlength="4"
                            maxlength="25"
                            class="form-control"
                            placeholder="John Wick">
                  </div>
                  <div class="form-group">
                    <label for="content">Commentaire</label>
                    <textarea class="form-control form-control-lg"
                                name="content"
                                [(ngModel)]="comment.content"
                                id="content"
                                placeholder="Lorem ipsum..."
                                rows="5x">
                    </textarea>
                  </div>
                  <button type="submit" class="btn btn-primary">Publish</button>
            </form>
        </div>
    </div>
</div>
